<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <form action="/check" method="post">
    <input placeholder="Enter email" type="text" name="email">
    <input placeholder="Enter username" type="text" name="username">
    <input type="submit">
  </form>

</body>

</html>